---
layout: compress
---

<!DOCTYPE html>
<html data-current="{{ page.section }}" lang="en">

  {% include head.html %}

  <body>
    
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0&appId=634616944072149&autoLogAppEvents=1"></script>

    {% include header.html %}

    <main>

      {{ content }}

    </main>
    
    <div class="fb-comments" data-href="https://blog.markvlcek.com" data-numposts="10" data-width=""></div>

    {% include footer.html %}

  </body>

</html>
